accelerate==0.16.0
av==10.0.0
bitsandbytes==0.35.4
decord==0.6.0
diffusers==0.11.1
einops==0.6.0
ffmpeg-python==0.2.0
ftfy==6.1.1
gradio==3.24.1
imageio==2.25.1
linkify-it-py==2.0.0
modelcards==0.1.6
omegaconf==2.3.0
opencv-python==4.7.0.72
pip==22.3.1
pipdeptree==2.7.0
tensorboard==2.12.0
torchvision==0.14.1
transformers==4.26.1
triton==1.1.1
xformers==0.0.16
